
.MuiPaper-rounded-6{
    margin: 50px !important;
}
.controller-icon {
    cursor: pointer;
    margin: 5px !important;
    color: #26a69a !important;
    font-size: 18px;
}
.MuiTableCell-paddingCheckbox-131{
    display: none !important
}
.MUIDataTableHeadCell-data-147{
    font-size: 15px
}

.ant-skeleton-content > ul{
    display:none !important;
}
.ant-skeleton-content > h3{
    width:100% !important
}
.ant-skeleton-title{
    width:100% !important
}


.ant-skeleton-content > ul{
    display:none !important;
    }
    .ant-skeleton-content > h3{
    width:100% !important
        }

        .chat {
            margin: 0 auto;
            max-width: 100%;
            max-height: 400px !important;
            overflow-y: scroll;
            overflow-x: hidden;
            padding-right: 15px;
          }
          
          .chat-message {
            margin: 0 0 1em;
            border-radius: 1em;
            padding: 0.5em 1em;
            background:#ffffff;
            position: relative;
            box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
            max-width: 75%;
            clear: both;
            
          }
            .them {
              float: left;
              color: black;
              font-weight: 500;
            }
              .them::after {
                content: "";
                position: absolute;
                left: -0.5em;
                bottom: 0;
                width: 0.5em;
                height: 1em;
                border-right: 0.5em solid#ffffff;
                border-bottom-right-radius: 1em 0.5em;
                
              }
            
            
            .me {
              float: right;
              background-color: #f1f0f0;
              color: black;
              font-weight: 500;
              
            }
              .me::after {
                content: "";
                position: absolute;
                right: -0.5em;
                bottom: 0;
                width: 0.5em;
                height: 1em;
                border-left: 0.5em solid #E6FFCF;
                border-bottom-left-radius: 1em 0.5em;
              }
            
          
          
              
              .chat-message .distext {
                visibility: hidden;
                display: none;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 2px;
                right: 106%;
              }
              .chat-message .distext::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent transparent black;
              }
              .chat-message .distextright {
                visibility: hidden;
                display: none;
                width: 120px;
                background-color: black;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                position: absolute;
                z-index: 1;
                top: 2px;
                left: 106%;
              }
              
              .chat-message .distextright::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent black transparent transparent;
              }
              .chat-message:hover .distext {
                visibility: visible;
                display: inline;
              }
              .chat-message:hover .distextright {
                visibility: visible;
                display: inline;
              }
          