.orderLoadMore{
    margin: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orderLoadMore button{
 margin-top: 30px;
 border-radius: 6px;
 color: white;
 background-color: rgb(54, 116, 250);
 border: 0px;
 height: 40px;
  
}

.tableHeader{
    background-color: rgb(241, 237, 237);
    color: black;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgb(240, 240, 240);
    font-size: 22px;

}

.tableContent{
    background-color: rgb(252, 250, 250);
    color: rgb(32, 32, 32);
    font-size: 12px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgb(240, 240, 240);
    cursor: pointer;
}


.tableContent:hover{
    background-color: rgb(100, 100, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.orderTypes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 116, 250);
    height: 8vh;
    margin: 0; 
    border-radius: 5px;
    margin-bottom: 15px; 
    
}

.orderTypes button {
    background-color: transparent;
    border: 0;
    color: white;
    flex: 1;
    height: 97%;
    
}

.orderTypes button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    
}

.selectType{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.card-content{
    max-height: 100% !important;
}
.login{
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 50px;
    padding-right: 50px;
}
.input-field,.chekbox-field,.button-field{
    border: 0px;
    box-shadow: none !important;
    
}

.row .col.m2{
    padding: 0px !important;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
}
.row-form{
    margin-top: 0px
}
.row .col.s12 {
    
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.title{
    height: 100px;
    padding: 0px;
    width: 100%;
    text-align: center;
    background: #26a69a;
    color: #fff;
    padding-top: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px
}
h2{
    font-size: 30px;
    margin: 0px;
    margin-top: 10px;
    text-align: center;
}
@media screen and (max-width: 800px){
    .login{
        margin-left: 50px;
        margin-right: 50px;
        padding: 0px;
    }
}
@media screen and (max-width: 550px){
    .login{
        margin-left: 20px;
        margin-right: 20px;
        padding: 0px;
    }
}
.dash-table {
    margin-left: 0px !important; 
    margin-right: 0px !important; 
}
.dashboard-table{
    box-shadow: 1px 0px 3px -1px #333 !important;
}
td, th {
    text-align: center !important;
}
h5{
    text-align: left
}
input{
    color: #000 !important
}
label{
    font-size: 18px !important
}
.btn-large{
    margin: 20px;
    margin-right: 20px;
    color: #fff !important;
    font-weight:bold
}
.spcial{
    font-size: 30px;
    margin-top: 0px !important; 
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px !important;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}
.edit{
    background-color: green !important
}
.delete{
    background-color: red !important
}
form > img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 4px solid #26a69a
}
